body {
  background-color: #110b11;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: 'Unica One', cursive;
  font-size: 3.625rem;
}

p, a, button {
  color: #f2f4cb;
  font-family: 'Gayathri', sans-serif;
  text-decoration: none; /* removes underline of the link*/
}

a:focus, a:active, a:visited {
  color: #f2f4cb;
}

.nametag_div {
  text-align: center;
  margin: 10px;
  display: inline-block;
  border: solid 5px #f2f4cb;
  background-color: #b7990d;
  padding: 1px 20px 1px;
  color: #110b11;
}
.nametag_p {
  color: #110b11;
}

.monkeyimg {
  width: 10%;
  margin-top: 10px;
}

#cat-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

#cat-section button {
  background: none;
  border: none;
  padding: 0;
  color: #f2f4cb;
  font-family: 'Gayathri', sans-serif;
  text-decoration: none;
  cursor: pointer;
  margin-top: 20px;
}

#cat-section button:hover {
  text-decoration: none;
}


#fact {
  color: #f2f4cb;
  font-family: 'Gayathri', sans-serif;
}

#cat-image {
  width: 300px;
  height: 300px;
}

body p, #cat-section button {
  font-size: 1rem; /* Adjust the font size as needed */
}